html, body{
  height: 100%;
  margin: 0;
  color: #333;
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3{
  margin:0;
  padding:0;
  font-weight: normal;
}

h1{
  font-size: 6.854rem;
}
h2{
  font-size: 4.236rem;
  font-family: 'Pacifico', cursive;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
  padding: 3%;
  font-weight: normal;
  text-align: center;
}
h3{
  font-size: 2.618rem;
}
h5{
  font-size: 1.618rem;
}

hr{
  margin: 1% 5% 1% 5%;
}

nav {
  position: fixed;
  z-index: 500;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

nav ul {
  display: block;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 25px;
  font-weight: 700;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 400;
  -webit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
nav ul li a:focus {
  color: white;
}

.short-p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.618rem;
}

.long-p{
  font-size: 1.618rem;
  margin:0.5rem 13.5rem 1rem;
  line-height: 1.6;
}
/***********************HOME***********************************/
#home{
  height: 100%;
  width: 100%;
  background:
              url('es-65-2.jpg') no-repeat center center fixed;
  background-size: cover;
  }#home hgroup{
    color: #FF6666;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
    padding-top: 6%;
    margin-left: 5%;
  }#home h3{
    margin-left: 34%;
    margin-top: -3%;
  }

/***********************WELCOME***********************************/
#welcome{
  width: 100%;
  }#welcome h1{
    margin-top: 3%;
    font-family: 'Pacifico', cursive;
    text-align: center;
  }#welcome p{
    font-size: 1.618rem;
    margin: 1% 10%;
    text-align: center;
    line-height: 1.6;
  }

#welcome-p{
  margin-bottom: 7%;
}

.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}

/***********************TRAVEL***********************************/

#travel h2{
  background-color: #FF6666;
  color: white;
}

#travel h3{
  margin-top: 5%;
  text-align: center;
}

#travel-blocks{
  width: 100%;
  text-align: center;
  margin-bottom: 13%;
}

.blocks{
  margin: auto;
  display: inline-block;
}

.block-item{
  float:left;
  padding: 0 0 5% 0;
  margin: auto;
  text-align: center;
  height: 400px;
  width: 400px;
}

.lodging-item{
  float:left;
  padding: 0 0 5% 0;
  margin: auto auto 3% auto;
  text-align: center;
  height: 100px;
  width: 300px;
  background-color: #FF6666;
  border-radius: 20px;
}.lodging-item a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}.lodging-item a:hover{
  color: white;
}.lodging-item h5{
  margin-top: 1.67rem;
  margin-bottom: 1.25rem;
}

.block-item-left{
  margin-right: 30px;
}

.block-item-right{
  margin-left: 30px;
}

#boston-canvas{
  height: 400px;
  width: 400px;
  margin: 0;
  padding: 0px;
}
#prov-canvas{
  height: 400px;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

.lodging-title{
  margin-bottom: 2.75rem;
}

#lodging-blocks{
  width: 100%;
  text-align: center;
}

.other-lodging{
  text-align: center;
  margin: auto;
  height: 150px;
  width: 700px;
  background-color: #FF6666;
  border-radius: 20px;
}.other-lodging a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}.other-lodging a:hover{
  color: white;
}.other-lodging h5{
  padding-top: 1.67rem;
  margin-bottom: 1.25rem;
}.other-lodging p{
  margin: auto 3rem;
}

.lodging-long{
  margin-bottom: 3rem;
}

/***************************CEREMONY***************************/
#ceremony{
  width: 100%;
  }#ceremony h2{
    margin-top: 10%;
    color: #FF6666;
    background: rgba(0, 0, 0, 0.5);
  }#ceremony h3{
    text-align: center;
  }#ceremony img{
    margin: auto;
    display: block;
    border-radius: 10px;
  }#ceremony a{
    text-decoration: none;
    color: #333;
  }#ceremony a:hover{
    color:rgba(0, 0, 0, 0.5);
  }

#ceremony-blocks{
  width: 100%;
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 11.68rem;
}

#church-map{
  margin-top: 15%;
}

/***************************RECEPTION***************************/

#reception{
  width:100%;
  text-align: center;
  }#reception h2{
    margin-top: 10%;
    color: white;
    background: #FF6666;
  }#reception h3{
    margin-top: 4.5rem;
    margin-bottom: 2.75rem;
  }#reception h5{
    background-color:  #FF6666;
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;
  }#reception h5 a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }#reception h5 a:hover{
    color: white;
  }#reception a{
    text-decoration: none;
    color: #333;
  }#reception a:hover{
    color: rgba(0, 0, 0, 0.5);
  }#reception img{
    margin: auto;
    display: block;
    border-radius: 10px;
  }#reception .long-p{
    text-align: left;
  }#reception span{
    font-weight: 700;
  }

#above-button{
  margin-bottom: 1.5rem;
}

.reception-long{

}


/********************MAP OF EVENTS*****************/
#maps{
  width:100%;
}#maps h2{
  margin-top: 10%;
  color: white;
  background: #FF6666;
}

#events-map{
  height: 43.75rem;
  width: 75%;
  margin: 4.5rem auto;
  padding: 0px;
}


